<h1>Listing initiaries</h1>

<% @initiaries.each do |initiary| %>
  <%= link_to initiary.name, initiary %>
  <% if auth? %>
    <br />
    [<%= link_to 'Edit', edit_initiary_path(initiary) %>]&nbsp;
    [<%= link_to 'Destroy', initiary, :confirm => 'Are you sure?', :method => :delete %>]&nbsp;
  <% end %>
  <br />
<% end %>

<br />

<% if auth? %>
  <%= link_to 'New Initiary', new_initiary_path %>
<% end %>