<h1>Listing currencies with countries unvisited</h1>

<% @currencies.each do |currency| %>
  <% unless currency.name.empty? %>
    <% visited = (currency.monetizations.where :collected => true).count %>
    <% remaining = (currency.monetizations.where :collected => false).count %>
    <% str = "Visited #{ visited } countries out of #{ remaining }" %>

    <%= link_to currency.name, currency %>&nbsp;<%= str %>&nbsp;

    <% if auth? %>
      <%= link_to "Collect everything", :controller => :currencies, :action => :collect, :currency_id => currency.id %>
    <% end %>

    <br/>
  <% end %>
<% end %>
