<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @currency.name %>
</p>

<p>
  <b>Avaliable at:</b>
  <br/>
  <% @currency.countries.each do |c| %>
    <%= link_to c.name, c %>
  <% end %>
</p>