<h1>dataxu test project</h1>
<br />
<%= link_to "Avaliable countries", countries_path %><br />
<%= link_to "Avaliable currencies", currencies_path %><br />
<%= link_to "Initiaries", initiaries_path %><br />