<h1>Avaliable countries</h1>

<% @countries.each do |country| %>
  <div id="#{country.name}">
    <%= link_to country.name, country %>
  </div>
<% end %>

<br />

<% if @countries.length <= 0 %>
  You've got no currencies nor countries data.
  We recommend you to <%= link_to "update country and currency lists", :controller => "application", :action => "update_country_data" %> as soon as it's possible
<% end %>
